<app-navbar></app-navbar>

<body class="max-h-screen">
  <section class="border-red-500 bg-gray-200 min-h-screen flex items-center justify-center">
    <div class="bg-gray-100 p-5 flex rounded-2xl shadow-lg max-w-3xl">
      <div class="container mx-auto">
        <h2 class="text-2xl font-semibold mb-4">Search Results</h2>
        <p *ngIf="searchTerm">Showing results for: {{ searchTerm }}</p>
        
        <!-- Display search results -->
      

        <!-- Show alert if no results found -->
        <ng-template #noResults>
          <div class="alert alert-warning">
            No tours found for the search term "{{ searchTerm }}".
          </div>
        </ng-template>
        
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</body>
