<app-navbar></app-navbar>

<div class="container m-2 w-[80vw] block mx-auto justify-center items-center">

    <div class="p-5 flex rounded-2xl  ">
      <div class="md:w-1/2 px-5">
        <h2 class="text-2xl font-bold text-[#002D74]">Login</h2>
        <form  [formGroup]="loginForm" (ngSubmit)="loginUser()"  class="">
          <div *ngIf="loggingIn"  class="flex justify-center p-4 bg-red-200 text-red-500 rounded mb-2 response_error">{{errorMessage}}</div>
          <div *ngIf="loggedInState" class="flex justify-center p-4 bg-green-200 text-green-500 rounded mb-2">
            <div
  class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
  role="status">
  <span
    class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
    >Loading...</span
  >
</div>

            {{successMessage}}
          
          </div>
            
          <label for="email" class="block mb-2">Email:</label>
          <input type="email" formControlName="email" data-cy="email" class="w-full px-4 py-2 border rounded mb-4 email-input" placeholder="devngecu@gmail.com">
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-500">Email is required</div>
        
          <label for="password" class="block mb-2">Password:</label>
          <input type="password" formControlName="password" data-cy="password" class="w-full px-4 py-2 border rounded mb-4 password-input" placeholder="*********">
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-500" >Password is required</div>
        
          <button type="submit" class="block bg-blue-500 hover:bg-blue-400 focus:bg-blue-400 text-white font-semibold rounded-lg px-4 py-3 mt-6">Login</button>
          <!-- <a routerLink="/register" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Register</a> -->
    
        </form>

        <a routerLink="/lost-password" >Lost Your Password?</a>
      </div>

      <div class="w-1/2 md:block hidden ">
        <h2 class="text-2xl font-bold text-[#002D74]">Register</h2>
        <form [formGroup]="registrationForm" (ngSubmit)="createUser()" >
          <div *ngIf="error" class="flex justify-center p-4 bg-red-200 text-red-500 rounded mb-2 reg_err">{{errorMessage}}</div>
          <div *ngIf="success" class="flex justify-center p-4 bg-green-200 text-green-500 rounded mb-2 reg_success">{{successMessage}}</div>

          <label for="name" class="block mb-2">Full Name:</label>
          <input type="text" data-cy="name"  formControlName="name" class="w-full px-4 py-2 border rounded mb-4" placeholder="Robinson Ngecu">
          <div *ngIf="registrationForm.get('name')?.invalid && registrationForm.get('full_name')?.touched" class="text-red-500">Full Name is required</div>
      
          <label for="email" class="block mb-2">Email:</label>
          <input type="email" data-cy="reg_email" id="email" name="email" formControlName="email" class="w-full px-4 py-2 border rounded mb-4" placeholder="devngecu@gmail.com">
          <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched" class="text-red-500">Email is required</div>
      
          <!-- <label for="phone_number" class="block mb-2">Phone Number:</label>
          <input type="tel" formControlName="phone_number"  class="w-full px-4 py-2 border rounded mb-4" placeholder="0707583092">
          <div *ngIf="registrationForm.get('phone_number')?.invalid && registrationForm.get('phone_number')?.touched" class="text-red-500">Phone Number is required</div> -->
      
          <label for="password" class="block mb-2">Password:</label>
          <input type="password" data-cy="reg_password" formControlName="password"  class="w-full px-4 py-2 border rounded mb-4" placeholder="*********">
          <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched" class="text-red-500">Password is required</div>
      
      
          <label for="password">Confirm Password:</label>
          <input type="password" data-cy="c_password" formControlName="confirm_password" class="w-full px-4 py-2 border rounded mb-4" name="confirm_password" placeholder="*********">
          <div *ngIf="registrationForm.get('confirm_password')?.invalid && registrationForm.get('confirm_password')?.touched" class="text-red-500" >Confirm Password is required</div>
      
      
          <button class=" block bg-blue-500 hover:bg-blue-400 focus:bg-blue-400 text-white font-semibold rounded-lg
          px-4 py-3 mt-6" type="submit">Register</button>
           
        </form>
      </div>

    </div>
</div>

<app-footer></app-footer>
